.project-issue-status-info a,
.project-issue-status-info .project-issue-assigned-user {
  background-color: #cdcdcd;
  border-radius: 4px 4px 4px 4px;
  padding: 2px 4px;
}
.project-issue-status-info .project-issue-assigned-user {
  white-space: nowrap;
}
.project-issue-status-1 a {
  background-color: #ffffff;
}
.project-issue-status-2 a {
  background-color: #c0ffc0;
}
.project-issue-status-3 a,
.project-issue-status-4 a,
.project-issue-status-5 a,
.project-issue-status-6 a {
  background-color: #ddddff;
}
.project-issue-status-7 a {
  background-color: #ffc9c9;
}
.project-issue-status-8 a {
  background-color: #ffffdd;
}
.project-issue-status-13 a {
  background-color: #ffe7dd;
}
.project-issue-status-14 a {
  background-color: #e7ffdd;
}
.project-issue-status-2,
.project-issue-status-3,
.project-issue-status-5,
.project-issue-status-6,
.project-issue-status-7 {
  text-decoration: line-through;
}
